@import './variables.scss';

@mixin section-padding {
  padding: 5rem 1rem;

  @media (min-width: $tablet) {
    padding: 6rem 2rem;
  }

  @media (min-width: $laptop) {
    padding: 3.5rem;
  }

  @media (min-width: $notebook) {
    padding: 6rem;
  }

  @media (min-width: $desktop) {
    padding: 7rem;
  }

  @media (min-width: $desktop-lg) {
    padding: 8rem;
  }
}