$bg-color-01: #121212;
$bg-color-02: #F9DC4A;
$bg-color-03: #F0EFF4;

$txt-color-01: #F9DC4A;
$txt-color-02: #414740;
$txt-color-03: #FDFFFC;

$mobile: 375px;
$tablet: 768px;
$laptop: 1024px;
$notebook: 1325px;
$desktop: 1680px;
$desktop-lg: 1920px;